<!-- fragments/navbar.html -->
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <!-- 로고 영역 -->
        <a class="navbar-brand" href="/">
            <img src="/images/logo/moda_logo.png" alt="Moda Logo" class="img-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/match/list">매칭</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">용병</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">양도</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">피해 신고</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">비매너 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}" id="open-login-modal">로그인</a>
                    <!--                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>-->
                </li>
            </ul>
        </div>

        <div id="login-modal" role="dialog"
             class="fixed inset-0 backdrop-blur-sm hidden items-center justify-center z-50 transition-opacity duration-200"
             style="background-color: rgba(0, 0, 0, 0.60);">
            <div class="bg-white rounded-xl shadow-lg w-[90%] max-w-md p-6 relative">
                <button id="close-login-modal"
                        class="absolute top-3 right-6 text-gray-400 hover:text-orange-500 text-xl font-bold leading-none">
                    ✕
                </button>
                <div class="text-center mb-6">
                    <img src="/images/moda_logo.png" alt="Moda 로고" class="h-12 mx-auto mb-3">
                    <h2 class="text-2xl font-semibold text-gray-800">로그인</h2>
                    <p class="mt-2 text-sm text-gray-500">아마추어 스포츠, 모다와 함께하세요</p>
                </div>
                <section class="_loginWrapper_p2c7p_57">
                    <button class="_button_p2c7p_69" style="background-color: white; border: 1px solid rgb(230, 230, 230); color: rgb(0, 0, 0);">
                        <img class="_loginIconImage_p2c7p_80" src="/images/socialIcon/google.png" alt="google login">
                        <div class="_loginButtonTitle_p2c7p_85">Google 로그인</div>
                    </button>
                    <button class="_button_p2c7p_69 hidden" style="background-color: black; color: var(--White);">
                        <img class="_loginIconImage_p2c7p_80" src="/images/socialIcon/naver.png" alt="naver login">
                        <div class="_loginButtonTitle_p2c7p_85">Naver 로그인</div>
                    </button>
                    <button class="_button_p2c7p_69 hidden" style="background-color: rgb(255, 235, 59); border: 1px solid rgb(230, 230, 230); color: rgb(0, 0, 0);">
                        <img class="_loginIconImage_p2c7p_80" src="/images/socialIcon/kakao.png" alt="kakao login">
                        <div class="_loginButtonTitle_p2c7p_85">Kakao 로그인</div>
                    </button>
                </section>
            </div>
        </div>
    </div>
</nav>
