<html layout:decorate="~{fragments/layout}">
<div layout:fragment="content" class="container">
    <h1 class="text-3xl font-bold mb-8 text-center">🏟️ 매칭 게시글 등록</h1>
    <form th:action="@{/match/register}" th:object="${matchRegisterForm}" method="post">
        <div th:replace="~{fragments/form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="title" class="form-label">게시글 제목 <span class="text-red-500">*</span></label>
            <input type="text" th:field="*{title}" id="title" class="form-control">
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">스포츠 종목 <span class="text-red-500">*</span></label>
            <select th:field="*{sportsKind}"
                    class="w-full px-4 py-2 rounded-md border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800">
                <option value="">선택</option>
                <option th:each="kind : ${sportsKindList}" th:value="${kind}" th:text="${kind}"></option>
            </select>
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('sportsKind')}" th:errors="*{sportsKind}"></p>
        </div>
        <div class="mb-3">
            <label for="stadium" class="form-label">경기장 이름 <span class="text-red-500">*</span></label>
            <input type="text" th:field="*{stadium}" id="stadium" class="form-control">
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('stadium')}" th:errors="*{stadium}"></p>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">경기장 주소 <span class="text-red-500">*</span></label>
            <div class="row g-2 mb-2">
                <div class="col-md-4">
                    <input type="text" id="postcode" placeholder="우편번호" class="form-control">
                </div>
                <div class="col-md-4">
                    <button type="button" onclick="execDaumPostcode()" class="btn btn-outline-primary w-100">우편번호 찾기
                    </button>
                </div>
            </div>
            <div class="mb-2">
                <input type="text" th:field="*{location}" id="address" placeholder="주소" class="form-control">
            </div>
            <div class="mb-2">
                <input type="text" id="detailAddress" placeholder="상세주소" class="form-control">
            </div>
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
        </div>
        <!-- 경기 일정 -->
        <div class="mb-3">
            <label class="form-label">경기 날짜 <span class="text-red-500">*</span></label>
            <input type="date" th:field="*{matchDate}" class="form-control">
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('matchDate')}" th:errors="*{matchDate}"></p>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">경기 시작 시간 <span class="text-red-500">*</span></label>
                <input type="time" th:field="*{startTime}" class="form-control" step="600">
                <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></p>
            </div>
            <div class="col-md-6">
                <label class="form-label">경기 종료 시간 <span class="text-red-500">*</span></label>
                <input type="time" th:field="*{endTime}" class="form-control" step="600">
                <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></p>
            </div>
        </div>
        <!-- 상세 정보 -->
        <div class="mb-3">
            <label class="form-label">활동명 (팀명) <span class="text-red-500">*</span></label>
            <input type="text" th:field="*{nickname}" class="form-control">
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">경기 수준 <span class="text-red-500">*</span></label>
            <select th:field="*{level}" class="form-control">
                <option value="">선택</option>
                <option value="초급">초급</option>
                <option value="중급">중급</option>
                <option value="상급">상급</option>
            </select>
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">연락처 (선택)</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control">
        </div>

        <!-- 비용 정보 -->
        <div class="mb-3">
            <div class="w-full md:w-1/2">
                <label class="form-label">경기장 총 비용 (₩) <span class="text-red-500">*</span></label>
                <input type="text" th:field="*{totalPrice}" class="form-control">
                <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('totalPrice')}"
                   th:errors="*{totalPrice}"></p>
            </div>
            <div class="w-full md:w-1/2">
                <label class="form-label">상대팀 부담 비용 (₩) <span class="text-red-500">*</span></label>
                <input type="text" th:field="*{cost}" class="form-control">
                <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">기타 내용(경기 방식 및 규칙, 참고 사항, 전달 사항 등)</label>
            <textarea th:field="*{content}" rows="10"
                      class="w-full px-4 py-2 rounded-md border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800"></textarea>
        </div>
        <div class="text-end mt-4">
            <input type="submit" value="저장하기" class="btn btn-primary">
        </div>
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>
</html>